* {
    font-family: 'Ubuntu', sans-serif;
} /*set all text to be custom font*/

body {
    background-color: rgb(252, 255, 191);
} /* Set the bg Color */

#MMTitle {
    color: salmon;
    border-style: groove;
    border-color: salmon;
    border-width: 2ex;
    border-radius: .5cm;
    text-align: center;
} /*Center the page title, color it pink and add a border*/

h2 {
    text-align: center;
    text-decoration: rgb(173, 101, 146) wavy underline;
    color: #39254d;
} /*give the headers a color and wavy line, align center*/

#Date {
    color: hsla(346, 47%, 49%);
    padding-bottom: 30px;
    text-align: center;
} /*have date much higher than nav, purple, and align center*/


.Attendance {
    color:darkgoldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} /*center the attendance list using flex, color gold*/

ul img{
    border-radius: 50px;
} /*all images in list have radius*/

#lm + p {
    color: rgb(43, 184, 137);
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}

p > span {
    color: darkred;
}

h3 ~ p {
    margin-right: 100px;
}

#qs.header{
    color: rgb(248, 7, 7);
}



img[src*="bee"] {
    background-color: rgb(238, 255, 232);
    border-radius: 50%;
}

label + p {
    border: 3px groove purple;
    margin: 10px 70px 10px 30px;
}

label {
    display: grid;
    grid-template-columns: repeat(3, 200px [col-start]);
}

button {
    height: 30px;
    width: 300px;
    border-radius: 10%;
    border-style: hidden;
    background-color: darkturquoise;
    margin: auto;
}

/*button colors when interacted with */
button:hover {
    background-color: deeppink;
}

button:active {
    background-color: rgb(145, 255, 0);
}





